* {
    margin: 0;
    padding: 0 box-sizing:border-box;
    font-faimily: sans-serif;

}

.hero {
    height: 100vh;
    background: linear-gardient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
        url('1000045522.jpg') center/cover no-repeat;
    display: flex;
    align-item: center;
    justify-content: center;
    text-aling: center;
    color: white;

}

.hero-content h1 {
    font-size: 3rem;
    letter-spacing: 5px;
    margin: 20px 0;
}

.cta-buttons button {
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
    border: none;
    font-weight: bold;
}

.btn-facebook {
    background-color: #3b5998;
    color: white;

}